<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Quotes Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>

<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <!-- <img src="img/trlogo.png" style="color: white;"> -->
            <!-- <h1><a href="#intro" class="scrollto">BizPage</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a th:href="@{/user/home}">Home</a></li>
                <li class="menu-active"><a href="#about">About Us</a></li>
                <!-- <li><a href="#services">Services</a></li> -->
                <!-- <li><a href="#portfolio">Portfolio</a></li> -->
                <li class="menu-active"><a th:href="@{/user/postload}">PostLoad</a></li>
                <!-- <li class="menu-has-children"><a href="">Drop Down</a> -->
                <!-- <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                  <li><a href="#">Drop Down 5</a></li>
                </ul>
              </li> -->
                <li class="menu-active" ><a th:href="@{/user/logout}">Logout</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<div class="panel-group" style="margin-top:40px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3> <b>List Of Quotes Available </b></h3>
        </div>

    </div>
</div>
<div class="alert" id="confirms" style="display:none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Accepted</strong> <p id="responsetext"><p>
</div>

<div align="center">
    <tr th:each="quote: ${quotes}">

        <div class="card" style="max-width: 60%">


            <div class="card-body"  >


                <h4 th:utext="'<b >Packer Company :     </b>'+${quote.getPacker().getCompany_name()}"> </h4>


                <div class="form-row">
                    <div class="form-group col-md-6" th:with="ans=${quote.getTransportation_price()+quote.getUnloading_price()
                    +quote.getLoading_price()+ quote.getPacking_price()+quote.getUnpacking_price()}">


                        <h5  th:utext="'<b>Total Price :    </b>'+${ans}"></h5>


                    </div>
                    <div class="form-group col-md-6">

                        <h5 th:utext="'<b>Transportation Price  :    </b>'+${quote.getTransportation_price()}"></h5>

                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">


                        <h5  th:utext="'<b>UnLoading Price :    </b>'+${quote.getUnloading_price()}"></h5>


                    </div>
                    <div class="form-group col-md-6">

                        <h5 th:utext="'<b>Loading Price :      </b>'+${quote.getLoading_price()}"><b>Loading Price :</b></h5>

                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">


                        <h5 th:utext="'<b>Packing Price :   </b>'+${quote.getPacking_price()}"></h5>

                    </div>
                    <div class="form-group col-md-6">

                        <h5  th:utext="'<b>UnPacking Price :    </b>'+${quote.getUnpacking_price()}"></h5>

                    </div>

                </div>




                <div class="form-row">
                    <div class="form-group col-md-6">

                        <form  id="form1" th:action="@{'/user/packer/'+${quote.getPacker().getId()}}">
                        </form>

                        <button type="submit" form="form1" value="Packer profile">Packer profile</button>

                    </div>
                    <div class="form-group col-md-6">

                        <button th:onclick="'javascript:acceptQuote(\''+${quote.getOrder().getId()}+'\',\''+${quote.getPacker().getId()} + '\')'">Accept Quote </button>
                    </div>

                </div>


                <p class="card-text"></p>
            </div>
        </div>

    </tr>

</div>
<script>
    function acceptQuote(orderid,packerid) {
        if(confirm("Are you sure to Accept ?")){



            var json = { "orderid" : orderid, "packerid" : packerid,
               };
            var ur='https://tr-spring.herokuapp.com/user/quote/confirm';
            $.ajax({

                       url:ur,
                       data: JSON.stringify(json),
                       type: "POST",

                       beforeSend: function(xhr) {
                           xhr.setRequestHeader("Accept", "application/json");
                           xhr.setRequestHeader("Content-Type", "application/json");
                       },
                       success: function(confirm) {

                           console.log(confirm);
                           console.log(confirm.sucess);
                           document.getElementById('confirms').style.display='block';
                           var element = document.getElementById("responsetext");
                           element.innerHTML = confirm.sucess;




                       },
                       error:function(){
                           console.log('in error');
                       }
                   });

            event.preventDefault();

        }
    }
</script>
</body>
</html>
