<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Packer Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>

<body>

<!--==========================
   Header
 ============================-->
<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <!-- <img src="img/trlogo.png" style="color: white;"> -->
            <!-- <h1><a href="#intro" class="scrollto">BizPage</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a th:href="@{/packer/home}">Home</a></li>
                <li class="menu-active"><a href="#about">About Us</a></li>
                <!-- <li><a href="#services">Services</a></li> -->
                <!-- <li><a href="#portfolio">Portfolio</a></li> -->
                <li class="menu-active"><a th:href="@{/packer/pastload}">PostLoad</a></li>
                <!-- <li class="menu-has-children"><a href="">Drop Down</a> -->
                <!-- <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                  <li><a href="#">Drop Down 5</a></li>
                </ul>
              </li> -->
                <li class="menu-active" ><a th:href="@{/packer/logout}">Logout</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<br>
<br>

<div class="panel-group" style="margin-top:40px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span th:utext="${customerName}"></span>
        </div>

    </div>
</div>
<br>

<div style="position: fixed; bottom: 5%; right: 5%; z-index: 10;background: aliceblue">
    <input id="orderPrice" placeholder="Enter amount to pay"/>
    <button style="font-size:24px" id="paymentButton">Pay Using <i class="fa fa-cc-paypal"></i></button>
</div>
<div class="form-group col-md-8">
    <tr th:each="order: ${orders}">

        <div class="card" style="margin:10%">


            <div class="card-body">
                <h5 class="card-title" th:text="${'shifting Date :'+ order.getDateofshifting()}"> </h5>

                <div th:if="${order.getPacker()==null}">
                    <h5 th:utext="'<b>Order Status  :  Pending </b>'"></h5>

                </div>
                <div th:unless="${order.getPacker()==null}">
                    <h5 th:if="${order.getPacker().getId()==packer.getId()}"  th:utext="'<b>Order Status  :  Accepted </b>'"> ></h5>
                    <h5 th:unless="${order.getPacker().getId()==packer.getId()}" th:utext="'<b>Order Status  :  NOt Accepted </b>'" ></h5>

                </div>


                <div class="form-row">
                    <div class="form-group col-md-6" style="padding: 5%">
                        <h6><b>Loading Adress</b></h6>

                        <p th:text="${'floor no  '+ order.getLoading_floorno()+' ,'+order.getLoading_location()+' ,'+
                                             order.getLoading_city()}"></p>

                        <!--<a th:href="@{'/packer/order/'+${order.getId()}}" class="btn btn-primary">Complete Details</a>-->
                        <button  th:onclick="'javascript:popUP('+${order.getId()}+')'" class="reset"  >
                            Quote</button>


                    </div>
                    <div class="form-group col-md-6" style="padding: 5%">
                        <h6><b>UnLoading Adress</b></h6>

                        <p th:text="${'floor no '+ order.getUnloading_floorno()+' ,'+order.getUnloading_location()+'  ,'+
                                             order.getUnloading_city()}"></p>
                        <a th:href="@{'/packer/orders/'+${order.getId()}}" class="btn btn-primary">CompleteDetails</a>

                    </div>


                </div>

                <p class="card-text"></p>
            </div>
        </div>

    </tr>
</div>


<div id="modal-wrapper" class="modal">

    <form class="modal-content animate" th:id="newQuoteForm" th:action="@{'/packer/quote/'}">

        <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
            <img src="1.png" alt="Avatar" class="avatar">
            <h1 style="text-align:center">Quote Box</h1>
        </div>

        <div class="container">
            <div class="form-group">
                <div class="col-sm-9">
                    <label for ="packing_Price"> Packing Price</label>
                    <input type="number" id ="packing_Price" th:field="${quote.packing_price}" placeholder="packing price"
                           class="form-control"/>
                    <label
                            th:if="${#fields.hasErrors('quote.packing_price')}" th:errors="${quote.packing_price}"
                            class="validation-message"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label for ="loading_Price">Loading Price</label>
                    <input type="number" id ="loading_Price" th:field="${quote.loading_price}" placeholder="loading price"
                           class="form-control"/> <label
                        th:if="${#fields.hasErrors('quote.loading_price')}" th:errors="${quote.loading_price}"
                        class="validation-message"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label for ="unloading_Price"> UnLoading Price</label>
                    <input type="number" id ="unloading_Price" th:field="${quote.unloading_price}" placeholder="unloading price"
                           class="form-control"/> <label
                        th:if="${#fields.hasErrors('quote.unloading_price')}" th:errors="${quote.unloading_price}"
                        class="validation-message"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label for ="unpacking_Price"> UnPacking Price</label>
                    <input type="number" id ="unpacking_Price" th:field="${quote.unpacking_price}" placeholder="unpacking price"
                           class="form-control"/> <label
                        th:if="${#fields.hasErrors('quote.unpacking_price')}" th:errors="${quote.unpacking_price}"
                        class="validation-message"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label for="transport_price"> Transportation Price</label>
                    <input type="number" id="transport_price" th:field="${quote.transportation_price}" placeholder="Transportation price "
                           class="form-control"/> <label
                        th:if="${#fields.hasErrors('quote.transportation_price')}" th:errors="${quote.transportation_price}"
                        class="validation-message"></label>
                </div>
            </div>



            <button type="submit">Login</button>
            <div th:id="sPhoneFromResponse"></div>
        </div>

    </form>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    // Add payment listener. Make a payment on click
    $("#paymentButton").click(function(){
        var sum = $("#orderPrice").val();
        console.log(sum);

        console.log('Making first post call');

        $.post(window.location.origin+'/packer/paypal/make/payment?sum='+sum,
            function(response){
                console.log(response);

                // redirect to payment page
                window.location.replace(response["redirect_url"]);
        });
    });


    // define a function to read get parameters from URL string
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    var paymentId = getUrlParameter('paymentId');
    var PayerID = getUrlParameter('PayerID');

    console.log(paymentId);
    console.log(PayerID);

    // check whether we should make the final or not
    if(paymentId !== undefined && PayerID !== undefined){

        console.log('Making second and final post call');

        // make the final call
        $.post(window.location.origin+'/packer/paypal/complete/payment?paymentId=' + paymentId + '&PayerID=' + PayerID ,
            function(resp){
                console.log(resp);
            });
    }

    // If user clicks anywhere outside of the modal, Modal will close

    var modal = document.getElementById('modal-wrapper');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }

    }
    var ids;
    function popUP(pid){

        document.getElementById('modal-wrapper').style.display='block'
            ids=pid;
        $("#newQuoteForm").trigger('reset');
        $("#sPhoneFromResponse").html("");
    }


    $(document).ready(function() {

        $('#newQuoteForm').submit(function(event) {



            var packing_price = $('#packing_Price').val();
            var unpacking_price = $('#unpacking_Price').val();
            var loading_price = $('#loading_Price').val();
            var unloading_price = $('#unloading_Price').val();
            var transportation_price = $('#transport_price').val();

            console.log(unloading_price + "\t" + loading_price);
            console.log(packing_price + "\t" + unpacking_price);
            console.log(transportation_price);
            var json = { "packing_price" : packing_price, "unpacking_price" : unpacking_price,
                "loading_price": loading_price,"unloading_price":unloading_price,
                "transportation_price":transportation_price};
            var ur=$("#newQuoteForm").attr( "action")+ids;
            $.ajax({

                       url:ur,
                       data: JSON.stringify(json),
                       type: "POST",

                       beforeSend: function(xhr) {
                           xhr.setRequestHeader("Accept", "application/json");
                           xhr.setRequestHeader("Content-Type", "application/json");
                       },
                       success: function(quote) {
                           var respContent = "";
                           console.log('Recieved authentication error');
                           console.log(quote) ;
                           if(!quote){


                               respContent += "<span class='success'>Can ONly Quote Once</span>";
                           }


                          else {
                               respContent += "<span class='success'>Smartphone was created: [";
                               respContent += quote.packing_price + " : ";
                               respContent += quote.unpacking_price + " : ";
                               respContent += quote.loading_price + " : ";
                               respContent += quote.unloading_price + " : ";
                               respContent += quote.transportation_price + "]</span>";
                           }
                           $("#sPhoneFromResponse").html(respContent);
                       }
                   });

            event.preventDefault();
        });

    });
</script>
</body>
</html>